<!--form to edit previously submitted link -->


<h1>Edit Your Ritly</h1>
<%= form_for @url do |f| %>

  <%= label_tag(:link, "Link:") %>
  <%= f.text_field :link, :class => "form-control" %></br>

  <%= f.submit "Update", :class => "btn btn-warning" %>
<% end %>
