<h1> Preview  Your Ritly </h1>

<iframe  id="iframe" src=<%="/go/#{@url['random_string']}"%> width="1000" height="500">
  <p>Your browser does not support iframes.</p>
</iframe>
</br>
<%= link_to 'Go to this page', "/go/#{@url['random_string']}"%>

