<h1> Here's your Ritly!</h1>


<!-- randomly generated string, link to preview page, link to their requested site, plus edit and show all buttons -->

<%#= @url['link'] %> <h2><%= link_to @url['random_string'], "/go/#{@url['random_string']}"%></h2>

</br><%= link_to "Preview", preview_url_path(@url),:class => "btn btn-primary btn-lg"%>

<%= link_to "Edit", edit_url_path(@url),:class => "btn btn-primary btn-lg"%>

